.stat-column {
  padding-top: 100px;
  @media screen and (max-width: 767px){
    padding-top: 0px;
  }
  #stat-wrapper {
    padding: 1em;
    background-color: #ffffff;
    border-radius: 5px;
    * {
      color: #686868;
    }
    .pointer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 15px 10px 0;
      border-color: transparent #ffffff transparent transparent;
      position: absolute;
      left: 1px;
      bottom: 24px;
      @media screen and (max-width: 767px){
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 15px 10px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        top: -10px;
        left: 50%;
      }
    }
  }
}
