#toastr-wrapper {
  position: relative;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

#toastr {
  text-align: center;
  padding: 140px 0px;
}

#cta {
  position: absolute;
  color: #fff;
  left: 0px;
  right: 0px;
  opacity: 0;
  transform: translateY(20px);
}

#lever-cta {
  color: #fff;
  position: absolute;
  opacity: 0;
  left: -20px;
  top: 50%;
}

.toast:hover {
  cursor: s-resize;
}

.handle:hover {
  cursor: pointer;
}

#handleRight {
  tranform: translateX(100px);
}
#toast-outlines {
  opacity: 0;
}
#toastr-canvas {
  background-color: $bg_color;
}
