@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@import 'variables';
@import 'nav';
@import 'svg';
@import 'footer';
@import 'notifier';


body {
  background-color: $light;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Tahoma', sans-serif;
}

ul {
  max-width: 380px;
  padding-left: 0px;
  margin: auto;
  text-align: left;
  list-style: none;
  margin-bottom: 60px;
  li {
    color: #686868;
    line-height: 28px;
  }
}
