@import 'variables';
@import 'nav';
@import 'stats';

body {
  background-color: $light;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Tahoma', sans-serif;
}

.toast:hover {
  cursor: s-resize;
}

.handle:hover {
  cursor: pointer;
}

#handleRight {
  tranform: translateX(100px);
}
#toast-outlines {
  opacity: 0;
}
