@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@import 'variables';
@import 'nav';
@import 'svg';
@import 'footer';
@import 'notifier';


body {
  background-color: $light;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Tahoma', sans-serif;
}
