nav {
  background-color: #80C2CE;
  padding: 40px 0px; }
  nav .title {
    color: #ffffff;
    margin: 0px;
    font-weight: 100;
    font-size: 28px;
    letter-spacing: -2px;
    text-align: center; }

#table-wrapper {
  padding: 100px 0px;
  background-color: #F2F2F2; }

#ingredients {
  width: 100%;
  max-width: 700px;
  margin: auto; }
  #ingredients .ingredient {
    text-align: center;
    height: 80px; }
  #ingredients .velocity-logo {
    font-size: 32px;
    color: #686868;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    border-left: 2px solid #686868;
    border-right: 2px solid #686868; }
    #ingredients .velocity-logo span {
      line-height: 80px; }

#ingredients .bg-fill {
  fill: #686868; }

#ingredients .bg-stroke {
  stroke: #686868; }

#stat-wrapper {
  padding: 1em;
  background-color: #ffffff;
  border-radius: 5px;
  width: 200px;
  position: absolute;
  top: 150px;
  right: 0px;
  opacity: 0; }
  #stat-wrapper * {
    color: #686868; }
  #stat-wrapper .pointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -12px;
    bottom: 24px; }

#toastr-wrapper {
  position: relative;
  text-align: center;
  width: 500px;
  margin: 0 auto; }

.toast:hover {
  cursor: s-resize; }

.handle:hover {
  cursor: pointer; }

#handleRight {
  tranform: translateX(100px); }

#toast-outlines {
  opacity: 0; }

#toastr-canvas {
  background-color: #80C2CE; }

footer {
  height: 140px;
  line-height: 140px;
  text-align: center; }

body {
  background-color: #F2F2F2; }

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Tahoma', sans-serif; }
